@model ShipingTypeDto

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> @Shipping.ShippingTypes </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"></a></li>
                <li class="breadcrumb-item active" aria-current="page">Form elements</li>
            </ol>
        </nav>
    </div>

    <form class="forms-sample" method="post" enctype="multipart/form-data"
          asp-controller="ShippingTypes" asp-action="Save" role="form">
        <div class="row">

            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Shipping.ShippingTypes</h4>
                        <p class="card-description">  </p>

                        <input asp-for="Id" type="hidden" />
                        <div class="form-group">
                            <label for="exampleInputUsername1">@Labels.NameAr</label>
                            <input asp-for="ShipingTypeAname" type="text" class="form-control" placeholder="@Labels.NameAr">
                            <span asp-validation-for="ShipingTypeAname" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@Labels.NameEn</label>
                            <input asp-for="ShipingTypeEname" type="text" class="form-control" placeholder="@Labels.NameEn">
                            <span asp-validation-for="ShipingTypeEname" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@Labels.Factor</label>
                            <input asp-for="ShipingFactor" type="text" class="form-control" placeholder="@Labels.Factor">
                            <span asp-validation-for="ShipingFactor" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-gradient-primary me-2">@Actions.Save</button>
                        <button class="btn btn-light">@Actions.Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>